@model LaporPinjol.Models.Report

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Laporan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nama Pinjol
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanCompanyName)
        </dd>
        <dt class = "col-sm-2">
            No Rekening Pinjol
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanCompanyBankAccount)
        </dd>
        <dt class = "col-sm-2">
            No Telepon Pinjol
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanCompanyPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Bukti Pendukung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvidenceLinkOnCloudStorage)
        </dd>
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>
        <dt class = "col-sm-2">
            Tanggal Pelaporan
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Status">Back to List</a>
</div>
